.login-container {
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #000000d6;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    margin: 60px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-header {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.9em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

    .login-header .logo {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        object-fit: contain;
    }

.login-form {
    margin-top: 15px;
    background-color: #ffffffd9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    background-color: #d00000d9;
    color: #fff; 
    border: solid #fff; 
    padding: 15px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .login-button:hover {
        background-color: #000000e1;
    }

.forgot-password {
    margin-top: 10px;
}

    .forgot-password a {
        color: #fff;
        text-decoration: none;
    }

@media (max-width: 768px) {
    .login-container {
        padding: 15px;
        width: 95%;
    }

    .login-header .logo {
        max-width: 200px;
    }

    .login-button {
        font-size: 14px;
        padding: 12px;
    }
}

.pokemon-characters {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    .pokemon-characters img {
        height: 150px;
    }
